# YOLO trained models
*.pt

# Dataset folders
data/processed/
data/raw/multiclass_ground_truth/
data/raw/multiclass_ground_truth_images/

# Legacy ignore (in case they are created in root)
data_train_val_test_car_person/
data_train-test_3_classes/
data_train_balanced/
data_train-test/
data_zip_file/

# Training results
runs/
results/Detection/
results/Detection_2Class/
results/Detection_Balanced/

# Cache
__pycache__/
*.pyc
scripts/__pycache__/demo_material/*.avi
demo_material/*.pt
